<div class="form">
	<%= form_tag(emails_path, method: :post, class: "form", remote: true) do %>
		<label for="title">Title
			<%= text_field_tag :title %>

		<label for="author">Author
			<%= text_field_tag :author %>

		<label for="content">Content
			<%= text_field_tag :content %>

		<%= submit_tag 'create', :name => 'commit' %>
	<%end%>
</div>